name: Continuos Integrations

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  compilation:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: "Set up environment"
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake

    - name: "Compiling"
      run: make

  norminette:
    needs: "compilation"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
    - name: Setup Norminette
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install norminette

    - name: "Set up Norminette"
      run: norminette

