name: Continuos Integrations

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  compilation:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: "Set up environment"
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake

    - name: "Compiling"
      run: make

  norminette:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Set up Norminette"
        run: |
          curl -L https://github.com/42School/norminette/releases/download/3.4.1/norminette-linux -o norminette
          chmod +x norminette
      - name: Run Norminette
        run: norminette
