name: Continuos Integrations

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  compilation:
    runs-on: ubuntu-latest

    steps:
    - name: "Set up environment"
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake

    - name: "Compiling"
      run: make

